body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light grey background */
}

.sidebar {
    background-color: #333; /* Dark grey sidebar background */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure sidebar appears above content */
}

.sidebar h2 {
    color: #ff8c00; /* Orange heading color */
}

.sidebar .nav .nav-item .nav-link {
    color: #fff; /* White text color */
    cursor: pointer;
}

.sidebar .nav .nav-item .nav-link:hover {
    background-color: #ff8c00; /* Orange hover background */
    color: #fff; /* White hover text color */
}

.sidebar .nav .nav-item .sub-menu {
    display: none; /* Hidden by default */
    padding-left: 20px; /* Indent for sub-menu */
}

.sidebar .nav .nav-item:hover .sub-menu {
    display: block; /* Display submenu on hover */
}

.sidebar .nav .nav-item .sub-menu .nav-link {
    color: #fff; /* White text color */
    padding: 5px 0;
}

.sidebar .nav .nav-item .sub-menu .nav-link:hover {
    background-color: #ff8c00; /* Orange hover background */
    color: #fff; /* White hover text color */
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: flex-end; /* Align logout button to the right */
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 250px; /* Ensure the navbar starts after the sidebar */
    width: calc(100% - 250px); /* Adjust width to fit remaining space */
    z-index: 2; /* Ensure navbar appears above sidebar */
}

.navbar .btn {
    background-color: #fd7e14;
    border-color: #fd7e14;
    color: white;
}

.navbar .btn:hover {
    background-color: #e96b0d;
    border-color: #e96b0d;
}

.content {
    margin-left: 250px;
    padding: 20px;
    background-color: #fff; /* White content background */
    margin-top: 60px; /* Ensure content area starts below navbar */
}

.content h1 {
    margin-top: 0;
    color: #333; /* Dark grey heading color */
}
.container {
    position: relative;
     /* Adjust this value as needed */
  }

